<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>/templates/include/comment.html</title>
</head>
<body>
	<th:block th:fragment="commentUi(category, parentNum, parentWriter, list)">
		<div class="card my-3">
			<div class="card-header bg-primary text-white">
		    댓글을 입력해 주세요
			</div>
			<div class="card-body">
			    <!-- 원글의 댓글을 작성할 폼 -->
			    <form th:action="@{|/${category}/save-comment|}" method="post">
			      <!-- 숨겨진 입력값 -->
			    	<input type="hidden" name="parentNum" th:value="${parentNum}"/>
			    	<input type="hidden" name="targetWriter" th:value="${parentWriter}" />
			
					<div class="mb-3">
						<label for="commentContent" class="form-label">댓글 내용</label>
						<textarea id="commentContent" name="content" rows="5" class="form-control" placeholder="댓글을 입력하세요"></textarea>
					</div>
			
			    	<button type="submit" class="btn btn-success">등록</button>
			  	</form>
			</div>
			
				<!-- 댓글 목록을 출력하기 -->
			<div class="comments" >
				<!-- 대댓글은 자신의 글번호와 댓글의 그룹번호가 다르다. 그런 경우에 왼쪽 마진을 부여한다. -->
				<div th:each="tmp : ${list}" 
						class="card mt-3 mb-3" 
						th:classappend="${tmp.num eq tmp.groupNum ? null : 'ms-5 re-re d-none'} ">
						
					<div th:if="${tmp.deleted == 'YES'}" class="card-body bg-light text-muted rounded">삭제된 댓글입니다.</div>
					
					<div th:unless="${tmp.deleted == 'YES'}"
		        		 class="card-body d-flex flex-column flex-sm-row position-relative">
	            		<button th:if="${tmp.replyCount !=0 and tmp.num == tmp.groupNum}"
	            				class="dropdown-btn btn btn-outline-secondary btn-sm position-absolute"
	            				style="bottom:16px; right:16px;">
	            			<i class="bi bi-caret-down"></i>
	            			답글 [[${tmp.replyCount}]] 개
	            		</button>
	            		<i 	th:if="${tmp.num != tmp.groupNum}"
	            			class="bi bi-arrow-return-right position-absolute" style="top:0;left:-30px"></i>
		            	<!--/* 
		            		로그인 된 userName 은 #authentication.name 으로 참조하면 된다. 
		            		로그인이 안되어 있다면 "anonymousUser" 로 참조된다.
		            	*/-->
		            	<button th:if="${tmp.writer == #authentication.name}"
		            			th:attr="data-num=${tmp.num}" 
		            			class="btn-close position-absolute top-0 end-0 m-1"></button>
	            		<i th:if="${tmp.profileImage == null}" 
	            			style="font-size:50px" 
	            			class="bi bi-person-circle me-3 align-self-center"></i>
	            		<img th:unless="${tmp.profileImage == null}"
	            			class="rounded-circle me-3 align-self-center" 
		                	th:src="@{/upload/{img}(img=${tmp.profileImage})}"
		                	alt="프로필 이미지" 
		                	style="width:50px; height:50px;">
		                <div class="flex-grow-1">
		                    <div class="d-flex justify-content-between">
		                        <div>
		                            <strong th:text="${tmp.writer}"></strong>
		                            <span>@[[${tmp.targetWriter}]]</span>
		                            <small class="text-muted" th:text="${tmp.createdAt}"></small>
		                        </div>
		                    </div>
		                    <pre th:text="${tmp.content}"></pre>
		                    <th:block th:if="${tmp.writer == #authentication.name}">
		                    	<!-- 수정버튼(본인에게만 보임) -->
		                    	<button class="btn btn-sm btn-outline-secondary edit-btn">수정</button>
			                    <!-- 댓글 입력 폼(처음에는 숨김)-->
			                    <div class="d-none form-div">
			                        <form th:action="@{|/${category}/comment-update|}" method="post">
			                        	<!-- 댓글을 수정하기 위한 댓글의 번호, 이 페이지로 다시 돌아오기 위한 parentNum 도 같이 전송되도록 -->
			                        	<input type="hidden" name="num" th:value="${tmp.num}" />
			                        	<input type="hidden" name="parentNum" th:value="${parentNum}" />
			                            <textarea name="content" class="form-control mb-2" rows="2" th:text="${tmp.content}"></textarea>
			                            <button type="submit" class="btn btn-sm btn-success">수정 완료</button>
			                            <button type="reset" class="btn btn-sm btn-secondary cancel-edit-btn">취소</button>
			                    	</form>
			                    </div>
		                    </th:block>
		                    <th:block th:unless="${tmp.writer == #authentication.name}">
			                   	<button class="btn btn-sm btn-outline-primary show-reply-btn">댓글</button>
				                <!-- 댓글 입력 폼(처음에는 숨김)-->
			                    <div class="d-none form-div">
			                        <form th:action="@{|/${category}/save-comment|}" method="post">
			                        	<!-- 원글의 글번호, 댓글 대상자의 userName, 댓글의 그룹번호도 같이 전송해야한다. -->
			                        	<input type="hidden" name="parentNum" th:value="${parentNum}" />
			                        	<input type="hidden" name="targetWriter" th:value="${tmp.writer}" /><!-- 댓글의 작성자 -->
			                        	<input type="hidden" name="groupNum" th:value="${tmp.groupNum}" /><!-- 댓글의 글번호가 그룹번호가됨 -->
			                            <textarea name="content" class="form-control mb-2" rows="2" placeholder="댓글을 입력하세요..."></textarea>
			                        	<button type="submit" class="btn btn-sm btn-success">등록</button>
			                        	<button type="reset" class="btn btn-sm btn-secondary cancel-reply-btn">취소</button>
			                    	</form>
			                    </div>
		                    </th:block>
		                </div>
		            </div> <!-- card-body -->
		        </div> 
			</div><!-- comments -->
		</div><!-- card -->
		<script>
			// 클라이언트가 로그인 했는지 여부
			const isLogin = [[${#authentication.name == 'anonymousUser' ? false : true }]];
			
			// 대댓글 보기 버튼을 눌렀을 때 실행할 함수 등록  
	    	document.querySelectorAll(".dropdown-btn").forEach(item => {
	     		  item.addEventListener("click", (e) => {
	     			// click 이벤트가 발생한 버튼의 자손 요소 중에서  caret up, caret down 요소를 찾는다. 
	     			const caret = item.querySelector(".bi-caret-up, .bi-caret-down");
	     			// caret 모양을 위아래로 토글시킴. if 문 없어도 동작함
	     			if (caret) {
	     			  caret.classList.toggle("bi-caret-down");
	     			  caret.classList.toggle("bi-caret-up");
	     			}
	     			
	     		    // 1. 버튼(item)의 두 단계 부모 요소로 이동 (-> 카드를 가르킴 )
	     		    const grandParent = item.parentElement.parentElement;
					// 2. 두 단계 부모요소의 바로 다음 형제 요소의 참조값을 얻어낸다.
	     		 	let next = grandParent.nextElementSibling;
					// 3. 반복문을 통해
	  	   			while (next) {
	  	   				// re-re 클래스가 존재한다면 
		  	   		    if (next.classList.contains("re-re")) {
		  	   		    	// d-block 클래스를 토글시켜서 보였다 숨겼다 반복 
		  	   		    	next.classList.toggle("d-none");
		  	   		    	//next.classList.remove("d-block");
				   		    //next.classList.add("d-none");
		  	   		    }else{// 존재하지 않으면 반복문 탈출
				  	   		//next.classList.add("d-block");
					   		//next.classList.remove("d-none");
		  	   		    	break;
		  	   		    }
	  	   				// 그리고 그 다음 형제요소의 참조값을 얻어내서 계속 수행 
		  	   		 	next = next.nextElementSibling;
	  	   				
		  	   		}
	     		  });
	      	});
			
			// class 명이 edit-btn인 모든 버튼에 click 이벤트 리스너 등록
	        document.querySelectorAll(".edit-btn").forEach( item => {
	            item.addEventListener("click", ()=>{
	                // 클릭한 버튼의 다음 형제요소의 class 목록에서 d-none 제거
	                item.nextElementSibling.classList.remove("d-none");
	                // 클릭한 버튼의 class 목록에 d-none 추가
	                item.classList.add("d-none");
	            });
	        });
	        // 취소 버튼을 눌렀을 때 이벤트 리스너 등록 
	        document.querySelectorAll(".cancel-edit-btn").forEach(item=>{
	            item.addEventListener("click", ()=>{
	                // 가장 가까운 부모요소 중 .form-div 요소
	                const formDiv=item.closest(".form-div");
	                // formDiv 에 d-none 클래스 추가해서 안 보이게 하고
	                formDiv.classList.add("d-none");
	                // formDiv 의 이전 형제요소(댓글버튼)의 d-none 제거
	                formDiv.previousElementSibling.classList.remove("d-none");
	            });
	        });
	        // 삭제 버튼을 눌렀을 때
	        document.querySelectorAll(".btn-close").forEach(item=>{
	            item.addEventListener("click", ()=>{
	                // data-num 속성에 출력된 삭제할 댓글의 번호 attribute에는 속성값이 다 있다.
	                const num=item.getAttribute("data-num");
	                const isDelete=confirm(num+"번 댓글을 삭제 하시겠습니까?")
	                if(isDelete){ //true 일때 삭제, false일때 취소
						// 댓글 삭제 링크 
	                	location.href=`[[@{|/${category}/comment-delete}|]]?num=${num}&parentNum=[[${parentNum}]]`;
	                }
	            });
	        })
			
			document.querySelector("#commentContent").addEventListener("input", ()=>{
				// 원글의 댓글 입력란에 포커스가 왔을 때 만일 로그인 하지 않았다면
				if(!isLogin){
					alert("댓글 작성을 위해 로그인이 필요합니다!");
	    			location.href= 
	    				"[[@{/user/loginform}]]?url=[[@{|/${category}/view?num=${parentNum}|}]]";
	    		}
			});
			
	        // 모든 댓글 버튼에 이벤트 등록 [버튼참조1, 버튼참조2, ...]
	        document.querySelectorAll(".show-reply-btn").forEach(item=>{
	            // 매개변수에 전달된 item 은 댓글 button 의 참조값이다.
	            item.addEventListener("click", ()=>{ 
	            	// 댓글 버튼을 눌렀을 때 만일 로그인 하지 않았다면
	    			if(!isLogin){
	    				alert("댓글 작성을 위해 로그인이 필요합니다!");
	    				location.href = "[[@{/user/loginform}]]?url=[[@{|/${category}/view?num=${parentNum}|}]]";
	        			return; // 리턴으로 아래 폼 안 열리게 하기
	    			}
	                // 클릭한 버튼의 다음 형제요소의 class 목록에서 d-none 제거
	                item.nextElementSibling.classList.remove("d-none");
	                // 클릭한 버튼의 class 목록에 d-none 을 추가
	                item.classList.add("d-none")
	            });
	        });
	        // 취소를 누르면 댓글폼이 닫히도록 하기
	        document.querySelectorAll(".cancel-reply-btn").forEach(item=>{
	            item.addEventListener("click", ()=>{
	                // 가장 가까운 부모요소 중 .form-div 요소
	                const formDiv=item.closest(".form-div");
	                // formDiv 에 d-none 클래스 추가해서 안 보이게 하고
	                formDiv.classList.add("d-none");
	                // formDiv 의 이전 형제요소(댓글버튼)의 d-none 제거
	                formDiv.previousElementSibling.classList.remove("d-none");
	            });
	        });
	    </script>
	</th:block>
</body>
</html>